<section class="about">
  <div class="mainphoto">
    <%= image_tag "mysons.jpg", class:"img-responsive"%>
  </div>
</section>
<section>
  <h1>豊富なラインナップ</h1>
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag "gogatsubyou_kids.png" %>
        <div class="caption">
          <h3>工作体験</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag "kashiwamochi_boy.png" %>
        <div class="caption">
          <h3>手作りお菓子</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag "kodomonohi_yoroi_kabuto.png" %>
        <div class="caption">
          <h3>たたかいごっこ</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag "koinobori_boy_girl.png" %>
        <div class="caption">
          <h3>みんなでワイワイ</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div>
</section>